<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>ShoppingProject</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
  <!-- 필터 -->
<filter>
  	<filter-name>characterEncodingFilter</filter-name>
  	<filter-class>com.company.view.common.CharacterEncodingFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>characterEncodingFilter</filter-name>
  	<url-pattern>*</url-pattern>	<!-- *의 경우는 앞에 슬래시 붙이지 않는다. -->
  </filter-mapping>
  
   <!-- 서블릿 -->

<servlet>
  	<servlet-name>logoutCtrl</servlet-name>
  	<servlet-class>com.company.view.user.LogoutCtrl</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>logoutCtrl</servlet-name>
  	<url-pattern>/logoutCtrl</url-pattern>	
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>loginCtrl</servlet-name>
  	<servlet-class>com.company.view.user.LoginCtrl</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>loginCtrl</servlet-name>
  	<url-pattern>/loginCtrl</url-pattern>	
  </servlet-mapping>

	<servlet>
     <servlet-name>InsertUserCtrl</servlet-name>
     <servlet-class>com.company.view.user.InsertUserCtrl</servlet-class>
  </servlet>
  
  <servlet-mapping>
     <servlet-name>InsertUserCtrl</servlet-name>
     <url-pattern>/InsertUserCtrl</url-pattern>   
  </servlet-mapping>



</web-app>